<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.1/css/all.min.css">-->
    <script src="https://kit.fontawesome.com/2c35d003f0.js" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <title>After School Class App</title>
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
        </header>
        <div id="checkout" class="nav navbar-nav navbar-right cart">
            <button type="button" @="showCheckout">
                {{cartItemCount}} <span class="fas fa-cart-plus"></span> Shopping Cart
            </button>
        </div>
        <br />
        <div class="left">
            <menu>
                <input v-model="searchT" type="text" name="search" id="txtsearch" title="search">
                <p>Sort By:</p>
                <input v-model="sortBy" type="radio" id="subject" name="sortBy" value="subject">
                <label for="subject">Subject</label><br>
                <input v-model="sortBy" type="radio" id="location" name="sortBy" value="location" title="">
                <label for="loca">Location</label><br>
                <input v-model="sortBy" type="radio" id="price" name="sortBy" value="price" title="">
                <label for="price">Price</label><br>
                <input v-model="sortBy" type="radio" id="available" name="sortBy" value="availability" title="">
                <label for="av">Availability</label><br>
                <br />
                <input v-model="sortOrder" type="radio" id="checkAsc" name="sortOrder" value="asc" title="">
                <label for="asc">Asc</label><br>
                <input v-model="sortOrder" type="radio" id="checkDesc" name="sortOrder" value="desc" title="">
                <label for="desc">Desc</label><br>
            </menu>
        </div>
        <div class="right">
            <main>
                <div id="itemList">
                    <br />
                    <div class="item" v-for="product in sortedProducts" :key="product.id">
                        <p>Subject: {{product.subject}}</p>
                        <p>Location: {{product.location}}</p>
                        <p>Price: {{product.price | formatPrice}}</p>
                        <p>Availability: {{product.availability}}</p>
                        <img alt="none" src:bind="product.image">
                        <button class="btnAdd" v-on:click="addToCart(product)" v-if="canAddToCart(product)">Add to
                            Cart</button>
                        <button class="btnDisabled" disabled="disabled" v-else>Unavailable</button>
                    </div>
                    <br />
                </div>
                <div id="checkOut" class="chkoutBox">
                    <h2>Checkout</h2>
                    <p>
                        <strong>First Name:</strong>
                        <input type="text" v-model="order.firstName">
                    </p>
                    <p>
                        <strong>Last Name:</strong>
                        <input type="text" v-model="order.lastName">
                    </p>
                    <p>
                        <strong>Address:</strong>
                        <input type="text" v-model="order.address">
                    </p>
                    <p>
                        <strong>City:</strong>
                        <input type="text" v-model="order.city">
                    </p>
                    <p>
                        <strong>Post Code:</strong>
                        <input type="text" v-model="order.postCode">
                    </p>
                    <p></p>
                    <p>
                        <input type="radio" id="email" value="Email" v-model="order.method">
                        <label for="email">Email</label>
                    </p>
                    <p>
                        <input type="radio" id="post" value="Post" v-model="order.method">
                        <label for="post">Post</label>
                    </p>
                    <br>
                    <hr>
                    <h2>Order Information</h2>
                    <p>First Name: {{order.firstName}}</p>
                    <p>Last Name: {{order.lastName}}</p>
                    <p>Address: {{order.address}} {{order.city}} {{order.postCode}}</p>
                    <br>
                    <button @="submitForm">Place Order</button>


                </div>
            </main>
        </div>
    </div>
    <!---VUE JS SCRIPTS-->
    <script>
        let webstore = new Vue({
            el: "#app",
            data: {
                sitename: "After School Class App",
                products: [
                    {
                        id: 1001,
                        subject: "Math",
                        location: "London",
                        price: 2000,
                        availability: 5,
                        image: "assets/images/product-fullsize.png"
                    },
                    {
                        id: 1002,
                        subject: "English",
                        location: "London",
                        price: 2600,
                        availability: 7,
                        image: "assets/images/product-fullsize.png"
                    },
                    {
                        id: 1003,
                        subject: "Science",
                        location: "Harrow",
                        price: 2000,
                        availability: 21,
                        image: "assets/images/product-fullsize.png"
                    },
                    {
                        id: 1004,
                        subject: "Spanish",
                        location: "London",
                        price: 3000,
                        availability: 12,
                        image: "assets/images/product-fullsize.png"
                    },
                    {
                        id: 1005,
                        subject: "French",
                        location: "Edgware",
                        price: 2900,
                        availability: 11,
                        image: "assets/images/product-fullsize.png"
                    },
                    {
                        id: 1006,
                        subject: "History",
                        location: "Colindale",
                        price: 2000,
                        availability: 6,
                        image: "assets/images/product-fullsize.png"
                    },
                    {
                        id: 1007,
                        subject: "Law",
                        location: "Hendon",
                        price: 4000,
                        availability: 5,
                        image: "assets/images/product-fullsize.png"
                    },
                    {
                        id: 1008,
                        subject: "Business",
                        location: "Barnet",
                        price: 2700,
                        availability: 9,
                        image: "assets/images/product-fullsize.png"
                    },
                    {
                        id: 1009,
                        subject: "Economics",
                        location: "Camden",
                        price: 4500,
                        availability: 6,
                        image: "assets/images/product-fullsize.png"
                    },
                    {
                        id: 1010,
                        subject: "IT",
                        location: "Hackney",
                        price: 2200,
                        availability: 10,
                        image: "assets/images/product-fullsize.png"
                    }
                ],
                cart: [],
                searchT: "",
                sortBy: "subject",
                sortOrder: "asc",
                order: {
                    firstName: "",
                    lastName: "",
                    method: "Email"
                }
            },
            filters: {
                formatPrice: function (price) {
                    if (!parseInt(price)) { return ""; }
                    if (price > 99999) {
                        var priceString = (price / 100).toFixed(2);
                        var priceArray = priceString.split("").reverse();
                        var index = 3;
                        while (priceArray.length > index + 3) {
                            priceArray.splice(index + 3, 0, ",");
                            index += 4;
                        }
                        return "£" + priceArray.reverse().join("");
                    } else {
                        return "£" + (price / 100).toFixed(2);
                    }
                }
            },
            methods: {
                addToCart: function (product) {
                    this.cart.push(product.id);
                    product.availability--;
                },
                canAddToCart: function (product) {
                    //return this.product.availability > this.cartItemCount;
                    //return this.cart.filter((x) => x == product.id).length != product.availability
                    return product.availability > 0;
                },
                showCheckout: function () {
                    return 0;
                },
                submitForm: function () {
                    alert("order Subitted!");
                }

            },
            computed: {
                sortedProducts: function () {
                    if (this.products.length > 0) {
                        let productsArray = this.products.sort((a, b) => {
                            if (this.sortOrder == "asc") {
                                if (a[this.sortBy] < b[this.sortBy]) return -1;
                                if (a[this.sortBy] > b[this.sortBy]) return 1;
                                return 0;
                            }
                            else {
                                if (a[this.sortBy] > b[this.sortBy]) return -1;
                                if (a[this.sortBy] < b[this.sortBy]) return 1;
                                return 0;
                            }
                        });
                        return productsArray;
                    }
                },
                cartItemCount: function () {
                    return this.cart.length || "";
                },
            }

        })
    </script>
    <!---CSS SCRIPTS-->
    <style>
        /*#itemList{}*/
        #app {
            margin: 0em 1em 1em 1em;
        }

        #checkout {
            float: right;
        }

        .left {
            float: left;
            padding-right: 2.5em;
            height: 100%;
        }

        .right {
            float: left;
        }

        .item {
            min-width: 15em;
            border-style: outset;
            border-width: 0.3em;
            border-color: blue;
            border-radius: 10px;
            padding: 5px;
            margin: 3px;
        }

        .btnAdd {
            color: white;
            border: 2px solid black;
            background-color: green;
        }

        .btnDisabled {
            color: white;
            border: 2px solid black;
            background-color: red;
        }
    </style>
</body>

</html>